*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.main-section{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    /* целая секция для наших коробочек */
}

.main-section-title{
    margin-bottom: 15px;
    color: rgb(255, 0, 230);
    /* тест для заголовка */
}

.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
    /* выстроили текст */
    flex-wrap: wrap;
}

.example-box{
    background: radial-gradient(pink,lightblue, blue);
    color: blue;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}