*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.main-section{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    /* целая секция для наших коробочек */
}

.main-section-title{
    margin-bottom: 15px;
    color: darkblue;
    /* тест для заголовка */
}

.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
    /* выстроили текст */
}

.example-box{
    background: hsl(203, 100%, 71%);
    color: blue;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

.shadow-basic{
    box-shadow: 0px 4px 8px 
    /* верх, право, низ, лево */
    rgba(139, 248, 42, 0.2);
    /* последнее добавляет прозрачности */
}
.shadow-blur{
    box-shadow: 15px 15px 30px 
    rgba(39, 248, 42, 0.9);
}
.shadow-multiple{
    box-shadow: 
    0px 4px 8px rgba(39, 56, 248, 0.9),
    0px 8px 16px rgba(248, 39, 39, 0.9),
    0px 8px 16px rgba(39, 248, 42, 0.9),
    0px 8px 16px rgba(0, 0, 0, 0.9);
    /* получается исходит от блока */
}

.shadow-basic-text{
    text-shadow: 2px 2px 4px #f4f4f4;
}
.shadow-glow{
    text-shadow: 0px 0px 5px hsl(23, 94%, 50%),
    0px 0px 10px #09e25c
    ;
}

.border-radius{
    border-radius: 25px 60px 30px 2px;
}
.border-image{
    border: 10px solid;
    border-image: linear-gradient(45deg, pink, lightblue) 1;
}
.outline-effect{
    outline: 10px solid  pink;
    outline-offset: 5px;
    /* outline-offset - расстояние между коробкой и рамкой */
}
.blur-filter{
    filter: blur(px)
}