*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.main-section{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    /* целая секция для наших коробочек */
}

.main-section-title{
    margin-bottom: 15px;
    color: rgb(255, 0, 230);
    /* тест для заголовка */
}

.example-row{
    display: flex;
    justify-content: center;
    gap: 30px;
    /* выстроили текст */
    flex-wrap: wrap;
}

.example-box{
    background: radial-gradient(pink,lightblue, blue);
    color: blue;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}


.translate{
    transform: translate(10px, 20px);}
.rotate{
    transform: rotate(50deg);}
.scale{
    transform: scale(1.5);}
.skew{
    transform: skew(10deg, 20deg);}

.translate-rotate{
    transform: translate(-20px, 10px) rotate(-30deg);
}
.scale-rotate{
    transform: scale(1.2) rotate(30deg) ;
}


.rotate-x{
    /* крутится вокруг своей оси Х */
    transform: rotateX(40deg);
}
.rotate-y{
    /* крутится вокруг своей оси по У */
    transform: rotateY(45deg);
}
.perspective-basic{
    transform: perspective(50px) rotateX(15deg);
}



.point-center{
    transform-origin: center;
    transform: rotate(15deg);
}
.point-left{
    transform-origin: left;
    transform: rotate(15deg);
}
.point-right{
    transform-origin: right;
    transform: rotate(15deg);
}

.hover-scale:hover{
transform: scale(1.2);
transition: 0.3s ease-in-out;
}
.hover-rotate:hover{
    transition: transform 2s ease-in;
    transform: rotate(180deg);
}
.hover-3d:hover{
    transition: transform 2s ease-in;
    transform:perspective(100px) rotatey(90deg);
}
 